<IfModule mod_rewrite.c>
    RewriteEngine On
    # No hay reglas de reescritura de URL por ahora.
</IfModule>

# -- OTRAS DIRECTIVAS DE SEGURIDAD --

# Evitar que se listen los contenidos de los directorios.
Options -Indexes

# Proteger archivos sensibles de ser accedidos directamente desde el navegador (Sintaxis Apache 2.4+).
<Files ".ht*">
    Require all denied
</Files>
<Files "config.php">
    Require all denied
</Files>
<Files "db.sql">
    Require all denied
</Files>
