<IfModule mod_rewrite.c>
    RewriteEngine On

    # -- REGLAS DE REESCRITURA --

    # Si la petición no es para un archivo que existe...
    RewriteCond %{REQUEST_FILENAME} !-f
    # Y si la petición no es para un directorio que existe...
    RewriteCond %{REQUEST_FILENAME} !-d

    # ...entonces, redirige la petición a index.php, pasando la URL original como un parámetro 'url'.
    # [L] significa que es la última regla a procesar si coincide.
    # [QSA] significa 'Query String Append', para conservar cualquier parámetro GET existente.
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>

# -- OTRAS DIRECTIVAS DE SEGURIDAD --

# Evitar que se listen los contenidos de los directorios.
Options -Indexes

# Proteger archivos sensibles de ser accedidos directamente desde el navegador.
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>
<Files config.php>
    Order Allow,Deny
    Deny from all
</Files>
<Files setup_database.php>
    Order Allow,Deny
    Deny from all
</Files>
